.chip-section {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 0;

  .chip-group {
    display: flex;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      text-align: center;
      width: 120px;
      height: 60px;
      border-radius: 10px;
      font-size: 16px;
      margin: 5px;
      border: 0;
      font-weight: 400;

      &.clear {
        background: #fff;
      }

      &.repeat {
        background: #2980b9;
      }

      &.submit {
        background: #4CAF50;
      }

      &.disabled {
        background: #888;
        color: #aaa;
      }

      //&.clear:hover {
      //  background: #666;
      //}
      //
      &.disabled:hover {
        cursor: not-allowed;

      }

      &.clear:hover:not(.disabled) {
        background: #666;
      }

    }


    .btn:hover:not(.disabled) {
      cursor: pointer;
      color: #fff;
    }

  }

  .chip-group {
    .remaining-balance {
      text-align: center;
      border: #c1b371 2px solid;
      margin: auto 0 auto 20px;
      border-radius: 2px;
    }

    h3 {
      padding: 2px;
      font-weight: 600;
      font-size: 14px;
      background: linear-gradient(0deg, #c1b371, #ebf8e1, #c1b371);
    }

    p {
      padding: 2px;
      font-weight: 200;
      font-size: 14px;
      color: #fff;
      background: rgb(0, 0, 0);
    }
  }
}

