.bet-chip {
  margin: 2px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  .bet-chip-container {
    display: flex;
    align-items: flex-end;

    .chip-group {
      width: 32px;
      position: relative;

      .chips {
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        font-size: 14px;
        color: #000;
        margin-right: 3px;
        position: absolute;
        left: 2px;

        &.yellow {
          border: #f5a700 solid 4px;
        }

        &.red {
          border: #fe0113 solid 4px;
          font-size: 12px;
          line-height: 22px;
        }

        &.green {
          border: #00bf58 solid 4px;
        }

        &.blue {
          border: #175cff solid 4px;
        }

        &.black {
          border: #000 solid 4px;
          font-size: 12px;
          line-height: 22px;
        }
      }

    }

    .balance {
      font-size: 11px;
      color: #fff;
      border-radius: 5px;
      background: #333;
      padding: 2px 5px;
      bottom: 2px;
      left: 34px;
    }
  }
}